# {{ ansible_managed }}

export GPG_TTY=$(tty)

export VISUAL=nvim
export EDITOR=nvim
export PAGER=less

export XDG_CONFIG_HOME=${HOME}/.config
export XDG_CACHE_HOME=${HOME}/.cache
export XDG_DATA_HOME=${HOME}/.local/share

export LANG=en_US.UTF-8
export LC_NUMERIC=nl_NL.UTF-8
export LC_TIME=nl_NL.UTF-8
export LC_MONETARY=nl_NL.UTF-8
export LC_PAPER=nl_NL.UTF-8
export LC_NAME=nl_NL.UTF-8
export LC_ADDRESS=nl_NL.UTF-8
export LC_TELEPHONE=nl_NL.UTF-8
export LC_MEASUREMENT=nl_NL.UTF-8
export LC_IDENTIFICATION=nl_NL.UTF-8

# https://github.com/alacritty/alacritty/issues/2210
if [[ -z "$LS_COLORS" ]] && [[ -n "$(command -v dircolors)" ]] && [[ "$TERM" = "alacritty" ]]; then
    eval "$(env TERM=alacritty-color dircolors)"
fi
{% if sway_installed %}

export BROWSER=firefox

# Wayland
export MOZ_ENABLE_WAYLAND=1
export XDG_SESSION_TYPE=wayland
export XDG_CURRENT_DESKTOP=sway

## Allows JetBrains products to start on Wayland
export _JAVA_AWT_WM_NONREPARENTING=1
{% endif %}
