export PATH=$PATH:${HOME}/.local/bin
export ZSH=${HOME}/.oh-my-zsh

ZSH_THEME="alanpeabody"
CASE_SENSITIVE="true"
COMPLETION_WAITING_DOTS="true"

HIST_STAMPS="%d/%m/%y %T"

plugins=(
{% if ansible_installed %}
    ansible
{% endif %}
{% if docker_installed%}
    docker
    docker-compose
{% endif %}
{% if poetry_installed %}
    poetry
{% endif %}
{% if gpg_installed %}
    gpg-agent
{% endif %}
    dotenv
    python
    zsh-autosuggestions
    zsh-completions
)

source $ZSH/oh-my-zsh.sh

{% if gpg_installed %}
gpg-connect-agent updatestartuptty /bye >/dev/null
{% endif %}

zstyle ':completion:*' rehash true

alias update_mirrorlist="sudo reflector --verbose --latest 5 --country Netherlands --sort rate --save /etc/pacman.d/mirrorlist"
