/*
 * {{ ansible_managed }}
 * vi: ft=css
 */

* {
    border: none;
    border-radius: 0;
    font-family: "DejaVu Sans Mono";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: {{ sway_colors.foreground }};
}

#workspaces button {
    background: {{ sway_colors.background }};
    border: 2px solid {{ sway_colors.background }};
    border-radius: 5px;
    color: {{ sway_colors.foreground }};
    padding: 0px 15px;
    margin: 10px 0px 0px 10px;
}

#workspaces button.visible {
    border: 2px solid {{ sway_colors.primary }};
    color: {{ sway_colors.primary }};
}

#workspaces button:hover {
    border: 2px solid {{ sway_colors.foreground }};
    color: {{ sway_colors.foreground }};
    box-shadow: inherit;
    text-shadow: inherit;
}

#tray, #clock, #battery, #backlight, #bluetooth, #pulseaudio, #network, #custom-bitcoin, #custom-ethereum, #idle_inhibitor, #custom-power {
    background: {{ sway_colors.background }};
    border: 2px solid {{ sway_colors.background }};
    border-radius: 5px;
    color: {{ sway_colors.foreground }};
	margin: 10px 10px 0px 0px;
    padding: 0px 10px;
}

#bluetooth.connected, #bluetooth.on {
    color: {{ sway_colors.blue }};
}

#bluetooth.disabled, #bluetooth.off {
    color: {{ sway_colors.alert }};
}

#backlight {
    color: {{ sway_colors.yellow }};
}

#pulseaudio {
    color: {{ sway_colors.green }};
}

#pulseaudio.muted {
    color: {{ sway_colors.alert }};
}

#battery {
    color: {{ sway_colors.yellow }};
}

#battery.full, battery.charging {
    color: {{ sway_colors.green }};
}

#battery.warning {
    color: {{ sway_colors.alert }};
}

#network {
    color: {{ sway_colors.cyan }};
}

#network.linked, #network.disconnected {
    color: {{ sway_colors.alert }};
}

#idle_inhibitor.activated {
    color: {{ sway_colors.alert }};
}

#idle_inhibitor.deactivated {
    color: {{ sway_colors.green }};
}

#clock {
    color: {{ sway_colors.foreground }};
}
