---

# {{ ansible_managed }}
# vi: ft=yaml

services:
  plex:
    image: "plexinc/pms-docker"
    restart: "unless-stopped"
    environment:
      TZ: "Europe/Amsterdam"
      PLEX_CLAIM: "{{ plex_claim_token }}"
      ADVERTISE_IP: "https://{{ inventory_hostname }}:32400/"
      PLEX_UID: "1000"
      PLEX_GID: "1000"
    devices:
      - "/dev/dri:/dev/dri"
    volumes:
      - "./config/:/config/"
      - "./transcode/:/transcode/"
      - "/srv/share/plex/:/data/"
    ports:
      - "32400:32400/tcp"
      - "32469:32469/tcp"
      - "1900:1900/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
