# {{ ansible_managed }}

[global]
    follow = mouse

    geometry = "400x200-50+50"

    shrink = true

    transparency = 20

    padding = 10
    horizontal_padding = 10

    font = "FiraCode Nerd Font 10"

    markup = full
    format = "<b>%s</b> %p\n%b"

    frame_width = 2
    frame_color = "{{ colors.primary }}"

    separator_color = frame

    ellipsize = end

    icon_position = left
    max_icon_size = 64

[urgency_low]
    foreground = "{{ colors.foreground }}"
    background = "{{ colors.background }}"
    timeout = 2

[urgency_normal]
    foreground = "{{ colors.foreground }}"
    background = "{{ colors.background }}"
    timeout = 2

[urgency_critical]
    foreground = "{{ colors.foreground }}"
    background = "{{ colors.background }}"
