# {{ ansible_managed }}

[Match]
Name=enp2s0

[Network]
Address=10.0.0.3/16
Address=fd1f:1b37:9b97:0:10::3/48
Gateway={{ network.gateway4 }}
Gateway={{ network.gateway6 }}
DNS=::1,127.0.0.1
Domains={{ network.domain }}
