[warning]
background={{ sway_colors.background }}
button-background={{ sway_colors.background }}

border={{ sway_colors.primary }}
border-bottom={{ sway_colors.primary }}

text={{ sway_colors.foreground }}
button-text={{ sway_colors.foreground }}

border-bottom-size=3
button-border-size=0

dismiss-button=

button-margin-right=15

button-padding=10
message-padding=10

button-gap=10
button-dismiss-gap=0
