[warning]
background={{ colors.background }}
button-background={{ colors.background }}

border={{ colors.primary }}
border-bottom={{ colors.primary }}

text={{ colors.foreground }}
button-text={{ colors.foreground }}

border-bottom-size=3
button-border-size=0

dismiss-button=

button-margin-right=15

button-padding=10
message-padding=10

button-gap=10
button-dismiss-gap=0
