# {{ ansible_managed }}
# vi: ft=yaml

colors:
  primary:
    background: "{{ colors.background }}"
    foreground: "{{ colors.foreground }}"

  normal:
    black:    "{{ colors.black }}"
    red:      "{{ colors.black }}"
    green:    "{{ colors.green }}"
    yellow:   "{{ colors.yellow }}"
    blue:     "{{ colors.blue }}"
    magenta:  "{{ colors.magenta }}"
    cyan:     "{{ colors.cyan }}"
    white:    "{{ colors.light_gray }}"

  # Bright colors
  bright:
    black:    "{{ colors.gray }}"
    red:      "{{ colors.black }}"
    green:    "{{ colors.green }}"
    yellow:   "{{ colors.yellow }}"
    blue:     "{{ colors.blue }}"
    magenta:  "{{ colors.magenta }}"
    cyan:     "{{ colors.cyan }}"
    white:    "{{ colors.white }}"

background_opacity: 0.8

cursor:
  style:
    shape: underline

    blinking: Off
  unfocused_hollow: false
