[colors.primary]
background = "{{ colors.black }}"
foreground = "{{ colors.foreground }}"

[colors.normal]
black = "{{ colors.black }}"
white = "{{ colors.light_gray }}"

blue = "{{ colors.blue }}"
cyan = "{{ colors.cyan }}"
green = "{{ colors.green }}"
magenta = "{{ colors.magenta }}"
red = "{{ colors.red }}"
yellow = "{{ colors.yellow }}"

[colors.bright]
black = "{{ colors.gray }}"
white = "{{ colors.white }}"

blue = "{{ colors.blue }}"
cyan = "{{ colors.cyan }}"
green = "{{ colors.green }}"
magenta = "{{ colors.magenta }}"
red = "{{ colors.red }}"
yellow = "{{ colors.yellow }}"

[window]
opacity = 0.8

[cursor]
unfocused_hollow = false

[cursor.style]
shape = "underline"

[cursor.vi_mode_style]
shape = "underline"
