---

# {{ ansible_managed }}
# vi: ft=yaml

colors:
  primary:
    background: "{{ sway_colors.black }}"
    foreground: "{{ sway_colors.foreground }}"

  normal:
    black:    "{{ sway_colors.black }}"
    red:      "{{ sway_colors.red }}"
    green:    "{{ sway_colors.green }}"
    yellow:   "{{ sway_colors.yellow }}"
    blue:     "{{ sway_colors.blue }}"
    magenta:  "{{ sway_colors.magenta }}"
    cyan:     "{{ sway_colors.cyan }}"
    white:    "{{ sway_colors.light_gray }}"

  # Bright colors
  bright:
    black:    "{{ sway_colors.gray }}"
    red:      "{{ sway_colors.red }}"
    green:    "{{ sway_colors.green }}"
    yellow:   "{{ sway_colors.yellow }}"
    blue:     "{{ sway_colors.blue }}"
    magenta:  "{{ sway_colors.magenta }}"
    cyan:     "{{ sway_colors.cyan }}"
    white:    "{{ sway_colors.white }}"

window:
  opacity: 0.8

cursor:
  style:
    shape: underline
  vi_mode_style:
    shape: underline
  unfocused_hollow: false
