[colors.primary]
background = "{{ sway_colors.black }}"
foreground = "{{ sway_colors.foreground }}"

[colors.normal]
black = "{{ sway_colors.black }}"
white = "{{ sway_colors.light_gray }}"

blue = "{{ sway_colors.blue }}"
cyan = "{{ sway_colors.cyan }}"
green = "{{ sway_colors.green }}"
magenta = "{{ sway_colors.magenta }}"
red = "{{ sway_colors.red }}"
yellow = "{{ sway_colors.yellow }}"

[colors.bright]
black = "{{ sway_colors.gray }}"
white = "{{ sway_colors.white }}"

blue = "{{ sway_colors.blue }}"
cyan = "{{ sway_colors.cyan }}"
green = "{{ sway_colors.green }}"
magenta = "{{ sway_colors.magenta }}"
red = "{{ sway_colors.red }}"
yellow = "{{ sway_colors.yellow }}"

[window]
opacity = 0.8

[cursor]
unfocused_hollow = false

[cursor.style]
shape = "underline"

[cursor.vi_mode_style]
shape = "underline"
