# {{ ansible_managed }}

[connection]
id=truenas-wireguard
uuid=6da139c7-1208-4b54-a77a-69188475a266
type=wireguard
autoconnect=false
interface-name=wg0
timestamp=1673797205

[wireguard]
mtu=1420
private-key={{ wireguard.private_key }}

{% for peer in wireguard.peers %}
[wireguard-peer.{{ peer.public_key }}]
endpoint={{ peer.endpoint }}
preshared-key={{ peer.pre_shared_key }}
preshared-key-flags=0
allowed-ips=0.0.0.0/0;

{% endfor %}

[ipv4]
address1=10.18.34.3/24
dns=10.0.0.1;
dns-search=internal.nietaanraken.nl;
method=manual

[ipv6]
addr-gen-mode=stable-privacy
method=ignore

[proxy]
