# {{ ansible_managed }}

[connection]
id=wireguard-home
uuid=53e715d3-a2cb-4d6e-9aa0-11d99b22ca76
type=wireguard
autoconnect=false
interface-name=wg0
timestamp=1688218188

[wireguard]
mtu=1420
private-key={{ wireguard.private_key }}

{% for peer in wireguard.peers %}
[wireguard-peer.{{ peer.public_key }}]
endpoint={{ peer.endpoint }}
preshared-key={{ peer.pre_shared_key }}
preshared-key-flags=0
allowed-ips=0.0.0.0/0;

{% endfor %}

[ipv4]
address1=10.8.0.3/24
dns={{ network.nameserver4 }};
dns-search={{ network.domain }};
method=manual

[ipv6]
addr-gen-mode=stable-privacy
method=disabled

[proxy]
