[Unit]
Description=Setup Port Forwarding for qBittorrent
Requisite=qbittorrent-nox@joren.service
After=network.target qbittorrent-nox@joren.service openvpn-client@frankfurt.service

[Service]
User=joren
Type=oneshot
ExecStart=/home/joren/.local/bin/setup-port-forward.py --username="{{ private_internet_access_credentials.username }}" --password="{{ private_internet_access_credentials.password }}" --quiet