/*
 * {{ ansible_managed }}
 * vi: ft=css
 */

window {
     margin: 0px;
     border: 2px solid {{ sway_colors.cyan }};
     border-radius: 5px;
     background-color: {{ sway_colors.background }};
     font-family: monospace;
     font-size: 12px;
}
 #input {
     margin: 5px;
     border: 1px solid {{ sway_colors.cyan }};
     color: {{ sway_colors.foreground }};
     background-color: {{ sway_colors.background }};
     box-shadow: none;
}
 #input image {
     color: {{ sway_colors.foreground }};
}
 #inner-box {
     margin: 5px;
     border: none;
     background-color: {{ sway_colors.background }};
}
 #outer-box {
     margin: 5px;
     border: none;
     background-color: {{ sway_colors.background }};
}
 #scroll {
     margin: 0px;
     border: none;
}
 #text {
     margin: 5px;
     border: none;
     color: {{ sway_colors.foreground }};
}
 #entry:selected {
     background-color: {{ sway_colors.cyan }};
     font-weight: normal;
}
 #text:selected {
     background-color: {{ sway_colors.cyan }};
     font-weight: normal;
}
